:root {
    --input-margin-right: 22px;
    --window-border-bottom: 5px;
    --window-border-bottom-max: 1px;
    --window-border: 1px 5px var(--window-border-bottom) 5px;
    --window-border-max: 1px 2px var(--window-border-bottom-max) 2px;
    --window-margin: 1px 4px var(--window-border-bottom) 4px;
    --window-margin-max: 1px 1px var(--window-border-bottom-max) 1px;
    
    --titlebar-color: #191f2a;
    --slider-track-color: #4281C3;

    /*--titlebar-color: #009688;*/
    /*--slider-track-color: var(--titlebar-color);*/
    cursor: default;
}

body {
    opacity: 0;
    overflow: hidden;
    background-color: black;
}
body.loaded {
    animation: body_fadein 0.4s;
    opacity: 1;
}

#border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 110;

    border-style: solid;
    border-width: var(--window-border);
    border-color: var(--titlebar-color);
    /*border-color: #6785A4;*/

    pointer-events: none;
}
#border.maximized {
    border-width: var(--window-border-max);
}

#workInfo {

    z-index: 109;
    height: 80px;
    width: 80px;
    background-color: var(--titlebar-color);
    position: absolute;
    right: -51px;
    bottom: -51px;

    transform: scale(0);
    border-radius: 30px;
    transition: all .5s;
}
#workInfo.active {
    transform: scale(1);
    border-radius: 10px;
}
#workInfo img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    
    position: absolute;
    left: 2px;
    top: 2px;
    cursor: pointer;
}
#workInfo img.active{
    pointer-events: auto;
    animation: rotate 5s linear infinite;
}
#workInfoImg.error{
    content:url("include/imgs/cog_error.png");
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#window {
    display: flex;
    flex-direction: column;
    margin: unset;
    margin: var(--window-margin);
    height: calc(100% - var(--window-border-bottom));
}
#window.maximized {
    margin: var(--window-margin-max);
    height: calc(100% - var(--window-border-bottom-max));
}

#titleDiv {
    position: absolute;
    left: 10px;
    top: 1px;
    right: 10px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    line-height: 32px;
    color: #FFF;
    font-weight: 800;
}

#titlebar-buttons {
    position: absolute;
    right: 10px;
    top: 0px;
    text-align: right;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.titlebar-image {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}

.titlebar-button {
    display: inline-block;
    width: 44px;
    text-align: center;
    align-content: center;
    line-height: 32px;
}

.titlebar-button-close.titlebar-button:hover {
    background-color: #FF0000;
}

.titlebar-button:hover {
    background-color: #D8E6F6;
}

.titlebar-button-close.titlebar-button:active {
    background-color: #FF6666;
}

.titlebar-button:active {
    background-color: #C0CCDA;
}

#titlebar-out {
    cursor: default;
    height: 33px;
    min-height: 33px;
    background-color: var(--titlebar-color);
    /*border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #6785A4;*/
    z-index: 101;
}

#titlebar {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 27px;
    background-color: var(--titlebar-color);
    -webkit-app-region: drag;
}

#titlebar.maximized {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 32px;
}

#titlebar-down {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--titlebar-color);
    width: 100%;
    height: 60px;
    z-index: 95;
}

#menubar {
    margin-top: -1px;
    /*margin-bottom: -1px;*/
    display: none;
}

@keyframes body_fadein {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#app {
    margin-top: -1px;
    flex-grow: 1;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

#split-parent {
    align-items: stretch;
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.panel {
    /*background: #EEEEEE;*/
    /* border: 1px solid #b8b8b8; */
    box-sizing: border-box;
}

x-card {
    background: #FAFAFA;
}

#left-panel {
    display: flex;
    flex-direction: column;
    margin: unset;
    min-width: 150px;
    max-width: 400px;
    flex-basis: 330px;
    overflow: hidden;
    /* border-right: solid 1px #353d4e; */
}

#right-panel {
    position: relative;
    background-color: #191F2A;
    margin: unset;
    margin-left: -5px;
    padding: 5px;
    padding-top: 60px;
    min-width: 0px;
    flex-grow: 1;
    flex-basis: 1px;
}


/******** Split ********/

.gutter {
    background-color: #191f2a;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');*/
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');*/
    cursor: ns-resize;
}


/************************/

#searchBar {
    box-sizing: border-box;
    width: 100%;
    max-width: unset;
    border: none;
    border-bottom: solid 1px #191f2a;
    background-color: #283143;
    color: var(--text-color);
    --input-margin-right: 22px;
}

#searchCancel {
    position: absolute;
    right: 5px;
    cursor: pointer;
    opacity: 0.7;
}

#searchCancel:hover {
    opacity: 0.5;
}

#searchBar[empty]>#searchCancel {
    cursor: default;
    display: none;
}

#tree {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    /*background-color: #283143;*/
    /*background-color: #FFF;*/
    line-height: normal;
    margin-left: -10px;
    width: calc(100% + 10px);
    overflow: none;
    height: calc(100% - 5px);
}

#tree-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #283143;
    /*background-color: #FFF;*/
    line-height: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

span.fancytree-title {
    height: 16px;
}
input.fancytree-edit-input {
    margin: 0;
    margin-top: -10px;
    padding: 0px 0px 0px 0px;
    height: 16px;
    border-width: 0;
    font-size: 10pt;
    font-family: tahoma, arial, helvetica;
    min-width: 100px;
}
input.fancytree-edit-input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}
input.fancytree-edit-input::selection {
    background: #4aa2ff;
}

span.fancytree-custom-icon.music {
    background-image: url(./include/imgs/music.png);
}
span.fancytree-custom-icon.sound {
    background-image: url(./include/imgs/sound.png);
}
span.fancytree-custom-icon.soundboard {
    background-image: url(./include/imgs/soundboard.png);
}

span.fancytree-custom-icon {
    width: 16px;
    height: 16px;
    /*margin-left: 2px;*/
    /*margin-right: -2px;*/
}

.noFocus :focus {
    outline: none;
}




/**
 * Custom Range
 */

input[type=range].custom_range {
  -webkit-appearance: none;
  margin: 0;
  background-color: transparent;
  /*margin: 7.5px 0;*/
}
input[type=range].custom_range:focus {
  outline: none;
}
input[type=range].custom_range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--slider-track-color);
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range].custom_range::-webkit-slider-thumb {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 18px;
  width: 18px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range].custom_range:focus::-webkit-slider-runnable-track {
  /*background: #4b9bf2;*/
}

/*************/

/*.verticalize{
    position: absolute;
    transform-origin: right;
    transform:translate(-100%, -47px) rotate(270deg);
}
*/
.mixerElement{
    width: 120px;
    height: 300px;

    margin: 4px 1px 4px 0;

    margin-right: 1px;
    padding: 0;

    display: inline-block;
    position: relative;

    background: #283143;
    border: solid 1px #353D4E;
}
/*

.mixerElement div{
    position: absolute;
    width: 100%;
}

*/
.mixerElement h5{
    width: 100%;
    background-color: hsl(220, 25%, 29%);
    margin-top: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #353D4E;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
.sliderVolume .noUi-connect {
    background: var(--slider-track-color);
}
 .noUi-handle:after{
    background: var(--slider-track-color);
}
.sliderVolume {
    margin-top: 20px;
}
.sliderBalance{
    margin-top:   20px;
    margin-left:   15px;
    margin-right:  15px;
}

.noUi-handle:focus {
    outline: none;
}
