body{
	margin: 0;
	padding: 0;
}

table.contacts {
    width: 100%;
    background-color: #fafafa;
    /*border: 1px #000000 solid;*/
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
	background-color: #fafafa;
}

td {
    border-bottom: 1px #6699CC dotted;
    text-align: left;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: .7em;
    color: #404040;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 0px;
}
tr.ok {
    background-color: #B9FDB3;
}

tr.nok {
    background-color: #ffafaf;
}
tr.error {
	background-color: #ffafaf;
}
tr.error td{
    padding-left: 50px;
}

.empty {
	z-index: -10;
	position: absolute;
	top: 0px;
	left: 0px;
}